{{ define "main" }}

<section id="single">
    
    <h1 class="title">{{ .Title }}</h1>
    <!-- <div class="header-cta">
        <p>Get practical tips on digital skills and remote work 👉🏽<a href="https://letters.bythanni.com"> Subscribe</a></p>    
    </div> -->

    <div class="tip">
        <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "minuteRead" . }}
        </span>
    </div>

    
    {{ if or .Site.Params.showToc .Params.showToc }}
        {{ partial "toc.html" . }}
    {{ end }}


    <div class="content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
    
    {{ partial "comment.html" . }}

    <hr>

    <h3>About NDZ</h3>

    <div class="additional-content">
        <p><strong><a href="https://ndz.ng">NDZ</a></strong> is a private community of passionate individuals and remote workers. This journal is an archive of thoughts by Thanni. Visit his <a href="https://bythanni.com">Blog</a> to learn more.</p>
    </div>

</section>

{{ end }}

